<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="POSHStarCraftBot.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="POSH_StarCraftBot.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <POSHStarCraftBot.Properties.Settings>
            <setting name="initFile" serializeAs="String">
                <value>POSHStarCraftBot_init</value>
            </setting>
        </POSHStarCraftBot.Properties.Settings>
        <POSH_StarCraftBot.Properties.Settings>
            <setting name="BotDLL" serializeAs="String">
                <value>POSH-SCBot.dll</value>
            </setting>
            <setting name="args" serializeAs="String">
                <value>-a=POSH-SCBot.dll POSH-SCBot</value>
            </setting>
        </POSH_StarCraftBot.Properties.Settings>
    </userSettings>
</configuration>